/* Change the colors in this stylesheet to customize the game. */ 
:root {
  --color-player: #2a79d0;
  --color-hacker: #ce3d20;
}
/* Player Styles */

/* .player-color {
  background-color: #2a79d0;
} */

/* .player-area {
  background-color: #000;
  background-image: url(images/chip.svg);
  box-shadow: inset -200px 0px 1000px  #B51BAB;
} */

/* .player-area {
  box-shadow: inset 10px 0px  100px 100px #B31BA8;
} */

/* .player-card .power {
  background-image: url(images/shield.svg);
} */

/* Hacker Styles */

/* .hacker-color {
  background-color: #ce3d20;
}

.hacker-area {
  background-color: #000;
  background-image: url(images/chip.svg);
  box-shadow: inset 200px 0px 1000px  #B51BAB;
}

.hacker-card .power {
  background-image: url(images/skull.svg);
} */

.player-color {
  background-color: var(--color-player);
}

.player-area {
  /* background: linear-gradient(0deg, var(--color-player), #000); */
  background: url(images/background-player.gif);
}

.player-card .power {
  background-image: url(images/shield.svg);
}

/* Hacker Styles */

.hacker-color {
  background-color: var(--color-hacker);
}

.hacker-area {
  /* background: linear-gradient(0deg, var(--color-hacker) ,#000); */
  background-image: url(images/background-hacker.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.hacker-card .power {
  background-image: url(images/skull.svg);
}